# TrialPartners
export TP_PROD_IP=
export TP_BETA_IP=
export TP_STAGE_IP=
export TP_SSH_USER=

export SUNSHINE_PASSWORD=

# asus proxmox
export PROXMOX_HOST=
export PROXMOX_IP=
export PROXMOX_MA=

# kubernetes
export K8S_HOST=
export K8S_CTLR_IP=
export K8S_NODE_1_IP=
export K8S_NODE_2_IP=
export K8S_NODE_3_IP=

export K3S_CTLR_IP=
export K3S_NODE_1_IP=
export K3S_NODE_2_IP=

export K8S_NFS_IP=

export CONTROL_PLANE_IP=
export TALOSCONFIG=

# mac mini proxmox
export MM_PVE_HOST=
export MM_PVE_IP=
export MM_PVE_MA=

# pve hosts
export PVE_UBUNTU_JUMP_IP=
export PVE_UBUNTU_IP=

export MYSOC=zsh

export SETUP_ENVIRONMENT_LEVEL=full # light | full
export NIX_ENABLED=true # true | false
export SHELL_DEBUG=false # true | false - set to false to silence shell init (required for scp/sftp)

