.env

.config/tmux/plugins/
.config/obsidian/.obsidian/workspace.json
.config/obsidian/.obsidian/workspace-mobile.json

./macOS/Brewfile.lock.json
.config/karabiner


bin/basalt
bin/lazyssh

workspace
